html{
    scroll-behavior: smooth;
}

body{
    background-color:#ffffff;
}

.fundo_diferente{
    background-image: linear-gradient(to right, #ffffff , rgb(252, 41, 41));
}

.img_topo{
    width: 100%;

}

.img_corpo{
    width: 50%;
    
}

figure{
    text-align: center;
}

.container{

    width: 80%;
    margin: auto;
}

h1{
    text-align: center;
    color: #00BFFF;
}

p{
    font-size: 1.4em;
    color:#000000;
    text-align: justify;
    text-indent: 40px;
}

.parag_titulos p{
    font-size: 1em;
}

.pinta_botao{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to right, #ffffff , rgb(0, 0, 0));
    margin: auto;
}

.botao{
    padding-top: 15px;
}